# Python
__pycache__/
*.py[cod]
.venv/
.env

# Training and evaluation outputs
outputs/*
!outputs/**/.gitkeep

# Local caches
.cache/
wandb/

# Keep directory placeholders
!.gitkeep

# Running logs
logs/*

data/*.zip
data/eval/*
data/processed/*
data/raw/*

